body{
    text-align: center;
    padding: 5em;
    background: url(https://images.unsplash.com/photo-1554224155-6726b3ff858f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1311&q=80);
    background-size: cover;
    color: black;
    
}

label{
    size: 25px;
}